/* HHHHHHHHHHHHHHHHHHEEEEEEEEEEEEEERRRRRRRRRRRRRREEEEEEEEe */


* {
    box-sizing: border-box;
}


.topnav {
    background-color: black;
    font-family: 'Abel', sans-serif; 
    overflow: hidden;
    margin: 0;
}

.topnav a {
    color: white;
    float:left;
}

.nav-tab {
    padding-right: 10px;
}

.title {
    background-color: rgb(181, 221, 196);
    /* background-color: grey; */
    margin:0;
    font-size: 40px;
    font-family: 'Abel', sans-serif; 
}

.a.navtab {
    color:white;
}

.topnav-right {
    color: white;
    float: right;
    font-size: 40px;
}

.name {
    /* background-color: rgb(154, 223, 196); */
    padding: 2px;
    /* opacity: 0.7; */
    text-align: center;
    font-family: 'Abel', sans-serif; 
    font-size: 60px;
    color: black;
}



html { 
    background: url("");
    /* background: url("https://images.unsplash.com/photo-1507810670121-b08efd787765?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hhcmxvdHRlJTIwbmN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* z-index: 0.998; */

}

img {
    height: 400px;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
    float:left;
    
}

.bio {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 0.5em;
    float: left;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 3px solid rgb(181, 221, 196);
}

.skills {
     margin-right: 15px;
    float: left;
    padding: 15px;
    height: 400px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 0.5em; 
    width: 30%;
    border: 3px solid rgb(181, 221, 196);
}

.contact {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(54, 33, 33, 0.19); 
    background-color: white;
    border-radius: 0.5em; 
    padding: 10px;
    float: left;
    border: 3px solid rgb(181, 221, 196);

}

a:link{
    color: black;
}

a:visited {
    color: black;
    /* rgb(52, 33, 97); */
}

a.h4, a:hover {
    color:white;
    background-color: grey;
}

th {
    font-size: 28px;
    padding-bottom: 10px;
}
td {
 font-size: 24px;
}

.container {
    font-family: 'DM Sans', sans-serif;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin: 0;
        height: auto;
    }

}